@import '../../scss/dependencies/palette';
@import '../../scss/dependencies/variables';

.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: -$primary-loader-length;
  bottom: 0;
  margin: auto;
  border: 16px solid $secondary-outline;
  border-top: 16px solid $primary-color;
  border-radius: 50%;
  width: $primary-loader-length;
  height: $primary-loader-length;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
