// Primary Colors
$primary-color: #263238;
$primary-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
$primary-background-color: #FFFFFF;

// Secondary Colors
$secondary-color: #90A4AE;
$secondary-outline: #e3e3e3;
