.full-height {
  height: 100%;
}

.auto-margin {
  margin: auto;
}

.auto-right-margin {
  margin-right: auto;
}

.no-margin {
  margin: 0;
}

.relative {
  position: relative;
}

.align-super {
  vertical-align: super;
}

.font-10 {
  font-size: 10px;
}
