$primary-header-height: 64px;
$primary-font-weight: 400;
$primary-font-size: 16px;
$primary-border-radius: 2px;

$secondary-font-weight: 100;
$secondary-font-size: 14px;

$primary-loader-length: 120px;
